

###################For deploy tasks#####################
DEPLOYER_PRIV_KEY=

SEPOLIA_RPC_URL="https://1rpc.io/sepolia"
CHIADO_RPC_URL="https://rpc.chiadochain.net"
MAINNET_RPC_URL="https://eth.llamarpc.com"
GNOSIS_RPC_URL="https://rpc.gnosischain.com"

ETHERSCAN_API_KEY=""
BLOCKSCOUT_API_KEY=""
GNOSISSCAN_API_KEY=""

FOREIGN_CHAIN_ID=1
HOME_CHAIN_ID=100

FOREIGN_AMB=0x4C36d2919e407f0Cc2Ee3c993ccF8ac26d9CE64e
FOREIGN_HASHI_MANAGER_AMB=
FOREIGN_HASHI_MANAGER_XDAI=

FOREIGN_YAHO=0xbAE4Ebbf42815BB9Bc3720267Ea4496277d60DB8
FOREIGN_YARU=0x30f64a297cc66a873FB603d1e89D5891962C25ba
FOREIGN_XDAI=0x4aa42145Aa6Ebf72e164C9bBC74fbD3788045016

HOME_YAHO=0xbAE4Ebbf42815BB9Bc3720267Ea4496277d60DB8
HOME_YARU=0x153801d0B85D2FCAc6EA07446b6A709ce6720AC5
HOME_HASHI_MANAGER_AMB=
HOME_HASHI_MANAGER_XDAI=
HOME_XDAI=0x7301CFA0e1756B71869E93d4e4Dca5c7d0eb0AA6
HOME_AMB=0x75Df5AF045d91108662D8080fD1FEFAd6aA0bb59
